-- ****************************************************************************
-- RM SQL DATABASE UPDATE EXAMPLE SCRIPT
-- ****************************************************************************
-- Number: 0
-- Purpose: To show example format of SQL patch script
-- Author: Test
-- ****************************************************************************

-- SQL GOES HERE