-- ****************************************************************************
-- RM SQL DATABASE ROLLBACK EXAMPLE
-- ****************************************************************************
-- Number: 0
-- Purpose: To show example format of SQL patch rollback script
-- Author: Test
-- ****************************************************************************

-- SQL GOES HERE