{%- extends 'base.html' -%}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

{% set page_title_value = _("Cookies on start.surveys.ons.gov.uk") %}

{%- block preMain -%}
    {{ onsBreadcrumbs({
            "ariaLabel": 'Back',
            "itemsList": [
                {
                    "url": url_for('i18n.start_bp.start_get'),
                    "id": "back",
                    "text": _('Back'),
                 }
            ]
        }) }}
{%- endblock -%}

{%- block main -%}

{% call onsPanel({
            "classes": "ons-u-mb-s ons-u-d-no ons-cookies-confirmation-message",
            "variant": "success"
        }) %}
    <h2>{{ _('Your cookie settings have been saved') }}</h2>
    <p>{{ _('Some parts of start.surveys.ons.gov.uk may use additional cookies and will have their own cookie policy and
            banner.') }}</p>
    <a class="ons-js-return-link ons-u-mt-s ons-u-dib" href="#0">{{ _('Return to previous page') }}</a>
{% endcall %}
<h1 class="ons-u-fs-2xl">{{ _('Cookies on start.surveys.ons.gov.uk') }}</h1>
<p>{{ _('Cookies are small files saved on your device when you visit a website.') }}</p>
<p>{{ _('We use cookies to store information about how you use this service, such as the pages you visit.') }}</p>
<h2>{{ _('Cookie settings') }}</h2>
<div class="ons-u-db-no-js_enabled">
    <p>{{ _('We use JavaScript to set our cookies. Javascript is not running on your browser so you cannot change your
            settings.') }}</p>
    <p>{{ _('You can try:') }}</p>
    {{ onsList({
                "itemsList": [
                    {
                        "text": _('turning on JavaScript in your browser')
                    },
                    {
                        "text": _('reloading the page in case there was a temporary fault with JavaScript')
                    }
                ]
            }) }}
</div>
<div class="ons-u-db-no-js_disabled">
    <p>{{ _("We use three types of cookie. You can choose which cookies you're happy for us to use.") }}</p>
    <form data-module="cookie-settings">
        <h3>{{ _("Cookies that measure website use") }}</h3>
        <p>
            {{ _("We use Google Analytics to measure how you use the website so we can improve it based on user needs. Google Analytics
            sets cookies that store anonymised information about:")}}
        </p>
        <ul>
            <li>{{_("how you got to the site")}}</li>
            <li>{{_("the pages you visit on ons.gov.uk and how long you spend on each page")}}</li>
            <li>{{_("what you click on while you're visiting the site")}}</li>
        </ul>
        {%
            call onsDetails({
                "id": "cookies-measure-website-use-details",
                "classes": "ons-u-mb-s",
                "title": _("Learn more about these Google Analytics cookies"),
                "headingLevel": '4',
                "button": {
                    "close": _("Hide this")
                }
            })
        %}
            {{
                onsTable({
                    "ths": [
                        {
                            "value": _("Name")
                        },
                        {
                            "value": _("Purpose")
                        },
                        {
                            "value": _("Expires")
                        }
                    ],
                    "trs": [
                        {
                            "tds": [
                                {
                                    "value": "<code>_ga</code>"
                                },
                                {
                                    "value": _('Used to distinguish users.')
                                },
                                {
                                    "value": _("2 years")
                                }
                            ]
                        },
                        {
                            "tds": [
                                {
                                    "value": "<code>_ga_&lt;container-id&gt;</code>"
                                },
                                {
                                    "value": _('Used to persist session state.')
                                },
                                {
                                    "value": _("2 years")
                                }
                            ]
                        }
                    ]
                })
            }}
        {% endcall %}
        <p>{{_("We do not allow Google to use or share the data about how you use this site.")}}</p>
        <div class="ons-u-mb-s">
            {{
                onsRadios({
                    "id": "cookies-measure-website-use",
                    "name": "cookies-usage",
                    "legend": _("Do you want to allow usage tracking?"),
                    "legendClasses": "ons-u-vh",
                    "radios": [
                        {
                            "id": "on-1",
                            "label": {
                                "text": _("On")
                            },
                            "value": "on"
                        },
                        {
                            "id": "off-1",
                            "label": {
                                "text": _("Off")
                            },
                            "value": "off"
                        }
                    ]
                })
            }}
        </div>
        <p>{{_("This selection will expire after two years.")}}</p>

        <h3>{{ _('Cookies that help with our communications') }}</h3>
        <p>{{ _('Some of our pages may contain content from other sites which may set their own cookies. These sites are
                sometimes called “third party” services. This tells us how many people see the content and
                whether it’s useful.') }}</p>
        <p>{{ _('In addition, if you share a link to a page, the service you share it on may set a cookie. We have no
                control over cookies set on other websites – you can turn them off, but not through us.') }}</p>
        {{ onsRadios({
                "id": "cookies-measure-website-comms",
                "name": "cookies-campaigns",
                "legend": _("Cookies that help with our communications"),
                "legendClasses": "ons-u-vh",
                "radios": [
                    {
                        "id": "on-2",
                        "label": {
                            "text": _("On")
                        },
                        "value": "on"
                    },
                    {
                        "id": "off-2",
                        "label": {
                            "text": _("Off")
                        },
                        "value": "off"
                    }
                ]
            }) }}
        <h3 class="ons-u-mt-xl">{{ _('Cookies that remember your settings') }}</h3>
        <p>{{ _('These cookies personalise your experience of using the site,
                by doing things like remembering your preferences and the choices you make.') }}</p>
        {{ onsRadios({
                "id": "cookies-measure-website-settings",
                "name": "cookies-settings",
                "legend": _("Cookies that remember your settings"),
                "legendClasses": "ons-u-vh",
                "radios": [
                    {
                        "id": "on-3",
                        "label": {
                            "text": _("On")
                        },
                        "value": "on"
                    },
                    {
                        "id": "off-3",
                        "label": {
                            "text": _("Off")
                        },
                        "value": "off"
                    }
                ]
            }) }}
        <h3 class="ons-u-mt-xl">{{ _('Strictly necessary cookies') }}</h3>
        <p>{{ _('These essential cookies do things like:') }}</p>
        {{ onsList({
                    "itemsList": [
                        {
                            "text": _("remember the notifications you've seen so we do not show you them again")
                        },
                        {
                            "text": _('remember your progress through a form (for example, online business surveys)')
                        }
                    ]
                }) }}
        <p>{{ _('They always need to be on.') }}</p>

        {%- set essential_cookies_content -%}
        <h4>{{ _('Your progress') }}</h4>
        <p>{{ _('We’ll set a cookie to remember your progress while logged in. These cookies do not store your
                    personal data.') }}</p>
        {{ onsTable({
                        "ths": [
                            {
                                "value": _("Name")
                            },
                            {
                                "value": _("Purpose")
                            },
                            {
                                "value": _("Expires")
                            }
                        ],
                        "trs": [
                            {
                                "tds": [
                                    {
                                        "value": "<code>COOKIE_SUPPORT</code>"
                                    },
                                    {
                                        "value": _('To check that your browser can support cookies')
                                    },
                                    {
                                        "value": _("When a user closes the browser or when their cookie cache is cleared")
                                    }
                                ]
                            },
                            {
                                "tds": [
                                    {
                                        "value": "<code>GUEST_LANGUAGE_ID</code>"
                                    },
                                    {
                                        "value": _('To store your preferred language so that certain content can be displayed in your own language')
                                    },
                                    {
                                        "value": _("When a user closes the browser or when their cookie cache is cleared")
                                    }
                                ]
                            },
                            {
                                "tds": [
                                    {
                                        "value": "<code>JSESSIONID</code>"
                                    },
                                    {
                                        "value": _('To keep your session active when using your account to access portfolio and messages')
                                    },
                                    {
                                        "value": _("When a user closes the browser or when their cookie cache is cleared")
                                    }
                                ]
                            },
                            {
                                "tds": [
                                    {
                                        "value": "<code>USER_UUID</code>"
                                    },
                                    {
                                        "value": _('To store the universally unique identifier created for your account')
                                    },
                                    {
                                        "value": _("When a user closes the browser or when their cookie cache is cleared")
                                    }
                                ]
                            },
                            {
                                "tds": [
                                    {
                                        "value": "<code>LFR_SESSION_STATE_* </code>"
                                    },
                                    {
                                        "value": _('To store the timestamp of the last request so that the session expiry warning message can be displayed')
                                    },
                                    {
                                        "value": _("When a user closes the browser or when their cookie cache is cleared")
                                    }
                                ]
                            },
                            {
                                "tds": [
                                    {
                                        "value": "<code>Session</code>"
                                    },
                                    {
                                        "value": _('To keep you signed in when completing a survey')
                                    },
                                    {
                                        "value": _("When a user logs out or closes the browser. Or when their cookie cache is cleared")
                                    }
                                ]
                            },
                            {
                                "tds": [
                                    {
                                        "value": "<code>csfcfc</code>"
                                    },
                                    {
                                        "value": _('To store the flash object identifier for the most recent action you have performed')
                                    },
                                    {
                                        "value": _("When a user closes the browser or when their cookie cache is cleared")
                                    }
                                ]
                            }
                        ]
                    }) }}
        <h4>{{ _('Cookie message') }}</h4>
        <p>{{ _('You may see a banner when you visit start.surveys.ons.gov.uk inviting you to accept cookies or review your settings.
                    We’ll set cookies so that your computer knows you’ve seen it and not to show it again and store your settings.') }}</p>
        {{ onsTable({
                        "ths": [
                            {
                                "value": _("Name")
                            },
                            {
                                "value": _("Purpose")
                            },
                            {
                                "value": _("Expires")
                            }
                        ],
                        "trs": [
                            {
                                "tds": [
                                    {
                                        "value": "<code>ons_cookie_message_displayed</code>"
                                    },
                                    {
                                        "value": _('Lets us know that you’ve seen our cookie message')
                                    },
                                    {
                                        "value": _("1 year")
                                    }
                                ]
                            },
                            {
                                "tds": [
                                    {
                                        "value": "<code>ons_cookie_policy</code>"
                                    },
                                    {
                                        "value": _('Saves your cookie consent settings')
                                    },
                                    {
                                        "value": _("1 year")
                                    }
                                ]
                            }
                        ]
                    }) }}
        {%- endset -%}

        {{ onsDetails({
                "id": "essential-cookies-details",
                "classes": "ons-u-mb-2xl",
                "title": _("Learn more about these essential cookies"),
                "content": essential_cookies_content
            }) }}

        {{ onsButton({
                        "type": 'submit',
                        "text": _('Save changes')
            }) }}
    </form>
</div>

{%- endblock -%}
